<!DOCTYPE HTML>
<!--
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FiPo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}" /> -->
		<link rel="stylesheet" href="../static/styles/main.css">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#">FiPo</a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush">
							<!-- <img src="static/cover1.jpg" alt="" /> -->
							<img src="../static/cover1.jpg" alt="" />
						</div>
					
					</section>

				
				<!-- Three -->
					<section id="three" class="wrapper">
						<div class="spotlight">
							<div class="image flush">
								<!-- <img src="static/office.jpg" alt="" /> -->
								<img src="../static/office.jpg" alt="" />
							</div>
							<div class="inner">
								<h3>Find Your Missing Guest</h3>
								<p>Upload pictures of your Guest and we will help you find your Person.</p>
								<a href="parentLogin"><input type="button"  style="color:white;" class="button medium style1 pie" value="Upload" /> </a>
							</div>
						</div>
						<div class="spotlight alt">
							<div class="image flush">
								<!-- <img src="static/confused.jpg" alt="" /> -->
								<img src="../static/confused.jpg" alt="" />
							</div>
							<div  class="inner">
								<h3>Found a missing Guest?</h3>
								<p>Upload the photo of the Person </p>
								
								<a href="userPage"><input type="button" style="color:black;background-color: aliceblue;" class="button medium style1 pie" value="Upload" /> </a>
							</div>
						</div>
					</section>

				</div>
			</section>

	</body>
</html>